<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Делитесь своими эфмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации ваших друзей.</p>
  <hr class="my-4">  
  <a class="btn btn-primary" href="#" role="button">Создать аккаунт</a>
  <a class="btn btn-primary" href="#" role="button">Войти</a>
	</div>
	